$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url(https://fonts.googleapis.com/css?family=Ruda:400,700|Noto+Serif:400,400italic,700italic);


#board, #change-password, #sign-out, #create-game, #get-games, #get-game {
  display: none;
}

body {
  font-size: 16px;
  font-family: 'Noto Serif', serif;
  color: #0190F6;
  position: relative;
}

header {
  // position: fixed;
  // background-color: gray;
}

h1 {
  font-size: 3em;
  font-family: 'Ruda', sans-serif;
	text-transform: uppercase;
}

legend {
  color: #0190F6;
}

* {
  // border: 1px solid green;
}

.view-score {
  // border: 2px solid blue;
  // width: 0;
}

.container-sign {
  // border: 2px solid green;
  margin-top: 100px;
}

.text-align-center {
    text-align: center;
}

.status-message {
  margin-top: 50px;
}

.message {
  font-size: 1.5em;
}

form {
  margin: 30px 0;
}

legend {
  border: 0;
  font-family: 'Ruda', sans-serif;
  text-transform: uppercase;
}

hr {
  border: #0190F6 1px solid;
  margin-bottom: 20px;
  width: 100px;
}

input {
  // display: block;
  margin: auto;
}

input::placeholder {
  text-align: center;
  color: #0190F6;
}

input[type="text"], input[type="password"] {
  font-family: 'Ruda', sans-serif;
  font-weight: 400;
	font-size: .9em;
	color: #0190F6;
  padding: 8px 30px;
	border: 1px solid #0190F6;
}

.change-password {
  width: 140px;
}

.change-password input[type="password"] {
  width: 100%;
}

.change-password legend {
  margin-bottom: 0;
  font-size: .9em;
}

.change-password input[type="submit"] {
  letter-spacing: 1px;
  padding: 8px 0 8px 0;
}

input[type="submit"] {
  font-family: 'Ruda', sans-serif;
	background-color: #0190F6;
	font-weight: 400;
	letter-spacing: 4px;
	font-size: .9em;
	text-decoration: none;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	color: #fff;
	border: 1px solid #fff;
	padding: 8px 30px;
	transition: background-color .5s;
	transition: color .5s;
	transition: border .5s;
	text-transform: uppercase;
  text-align: center;
}

input[type="submit"]:hover {
	color: #0190F6;
	background-color: #fff;
	border: 1px solid #0190F6;
}

.change-password input[type="submit"] {
  width: 100%;
}

.sign-out {
  position: fixed;
  top: 0%;
  right: 2%;
  background-color: rgba(25,25,25,.3);
  border-radius: 5px;
  width: 150px;
}

.change-password {
  position: fixed;
  top: 10%;
  right: 2%;
  font-size: .8em;
  width: 150px;
}

.change-password input {
  display: block;
  margin: 10px 0;
  // width: 220px;
}

.content-container {
  position: relative;
}

.create-game {
  position: relative;
  top: 50px;
}

.board {
  position: relative;
  height: 450px;
  margin: 100px auto 20px auto;
  // border: none;
  // outline: 1px solid red;
  width: 450px;
}

.box {
  color: #F7933F;
  background-color: white;
  float: left;
  font-family: sans-serif;
  font-size: 100px;
  height: 33.3%;
  line-height: 150px;
  margin: 0;
  // outline: 1px solid blue;
  padding: 0;
  text-align: center;
  width: 33.3%;
  border: none;
}

.box:hover {
  background-color: rgba(0,0,0,.1);
}

.column-one {
  border-right: 3px solid #0190F6;
}

.column-three {
  border-left: 3px solid #0190F6;
}

.row-one {
  border-bottom: 3px solid #0190F6;
}

.row-three {
  border-top: 3px solid #0190F6;
}

.message {
  position: absolute;
  -ms-transform:rotate(-20deg); /* IE 9 */
  -moz-transform:rotate(-20deg); /* Firefox */
  -webkit-transform:rotate(-20deg); /* Safari and Chrome */
  top: 35%;
  width: 100%;
	// transform: translate(0, -50%);
  margin: auto;
  color: #0190F6;
  font-weight: 700;
  text-align: center;
  font-family: 'Ruda', sans-serif;
  font-size: 7em;
  vertical-align: center;
  border-radius: 5px;
  // background-color: rgba(1,144,246,.8);
  text-transform: uppercase;
}

.show-games-container, .show-game-container {
  // border: 2px solid green;
  color: #0190F6;
  // outline: 2px solid #0190F6;
  width: 100%;
  height: auto;
  font-family: monospace;
}

.show-game-container {
  white-space: pre;
}

.view-games {
  margin-top: 40px;
  width: 100%;
}
